<%= alert_box context: :warning do %>
    <p>
      <b>Внимание:</b> перед тем как оплачивать услуги TNF и пользоваться ими,
      сначала <%= link_to 'прочтите FAQ', work_faq_url %>.
    </p>
<%- end -%>

<%= nav layout: :justified, as: :pills, class: 'm-b' do %>
    <%= link_to fa_icon('vk', text: t('translations.vk_contacts_collector')), work_vkontakte_contacts_collector_url -%>
    <%= link_to fa_icon('diamond', text: t('translations.pricing_n_plans')), work_pricing_plans_url -%>
    <%= link_to fa_icon('dollar', text: t('translations.referrals')), work_referrals_url -%>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <%= render 'static_pages/dashboard/tnf_intro' -%>
  </div>
</div>
<!--<div class="row">-->
<!--<div class="col-lg-12 text-center">-->
<!--<iframe src="https://www.google.com/calendar/embed?src=iupu1br2q89aka9vqj499iibbs%40group.calendar.google.com" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
<!--</div>-->
<!--</div>-->