<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="pricing-widget bg-danger colorful-widget">
      <div class="pricing-icon">
        <div class="pricing-icon-inner">
          <i class="fa fa-vk"></i>
        </div>
      </div>

      <div class="text-center">
        <h4>Contacts Collector</h4>
        <h4 class="pricing-value">$25/∞</h4>
      </div>

      <ul class="pricing-service m-top-sm">
        <li>Collecting of contacts</li>
        <li>Uploadig to a server</li>
        <li>Storing contacts on a server</li>
        <li>Downloading from a server</li>
        <li>Archiving of contacts</li>
      </ul>

      <div class="m-top-md text-center">
        <!--<form action="https://perfectmoney.is/api/step1.asp" method="POST">-->
        <!--<input type="hidden" name="PAYEE_ACCOUNT" value="{{merchandise.sci.payee_account}}">-->
        <!--<input type="hidden" name="PAYEE_NAME" value="{{merchandise.sci.payee_name}}">-->
        <!--<input type="hidden" name="PAYMENT_ID" value="{{merchandise.sci.payment_id}}">-->
        <!--<input type="hidden" name="PAYMENT_AMOUNT" value="{{merchandise.sci.payment_amount}}">-->
        <!--<input type="hidden" name="PAYMENT_UNITS" value="{{merchandise.sci.payment_units}}">-->
        <!--<input type="hidden" name="STATUS_URL" value="{{merchandise.sci.status_url}}">-->
        <!--<input type="hidden" name="PAYMENT_URL" value="{{merchandise.sci.payment_url}}">-->
        <!--<input type="hidden" name="PAYMENT_URL_METHOD"-->
        <!--value="{{merchandise.sci.payment_url_method}}">-->
        <!--<input type="hidden" name="NOPAYMENT_URL" value="{{merchandise.sci.nopayment_url}}">-->
        <!--<input type="hidden" name="NOPAYMENT_URL_METHOD"-->
        <!--value="{{merchandise.sci.nopayment_url_method}}">-->
        <!--<input type="hidden" name="SUGGESTED_MEMO" value="{{merchandise.sci.suggested_memo}}">-->
        <!--<input type="hidden" name="BAGGAGE_FIELDS" value="{{merchandise.sci.baggage_fields}}">-->
        <!--<input type="hidden" name="merchandise_name" value="{{merchandise.sci.merchandise_name}}">-->
        <!--<input type="hidden" name="merchandise_price" value="{{merchandise.sci.merchandise_price}}">-->
        <!--<input type="hidden" name="verification_code" value="{{merchandise.sci.verification_code}}">-->
        <!--<input type="hidden" name="user_id" value="{{merchandise.sci.user_id}}">-->
        <!--<input type="submit" name="PAYMENT_METHOD" value="Подтвердить"-->
        <!--class="btn btn-success btn-block">-->
        <!--</form>-->
        <%- if @current_user.decorate.pricing_plan_purchased?(:vk_contacts_collector) -%>
            <a href="" class="btn btn-danger disabled"><%= t('translations.activated') -%></a>
        <%- else -%>
            <% @pricing_plan_sci[:vk_contacts_collector].tap do |sci| %>
                <%= form_tag 'https://perfectmoney.is/api/step1.asp' do -%>
                    <%= hidden_field_tag :PAYEE_ACCOUNT, sci.payee_account -%>
                    <%= hidden_field_tag :PAYEE_NAME, sci.payee_name -%>
                    <%= hidden_field_tag :PAYMENT_ID, sci.payment_id -%>
                    <%= hidden_field_tag :PAYMENT_AMOUNT, sci.payment_amount -%>
                    <%= hidden_field_tag :PAYMENT_UNITS, sci.payment_units -%>
                    <%= hidden_field_tag :STATUS_URL, ah_prepend_host(sci.status_url) -%>
                    <%= hidden_field_tag :PAYMENT_URL, ah_prepend_host(sci.payment_url) -%>
                    <%= hidden_field_tag :PAYMENT_URL_METHOD, sci.payment_url_method -%>
                    <%= hidden_field_tag :NOPAYMENT_URL, ah_prepend_host(sci.nopayment_url) -%>
                    <%= hidden_field_tag :NOPAYMENT_URL_METHOD, sci.nopayment_url_method -%>
                    <%= hidden_field_tag :SUGGESTED_MEMO, sci.suggested_memo -%>
                    <%= hidden_field_tag :BAGGAGE_FIELDS, sci.baggage_fields -%>
                    <%= hidden_field_tag :user_id, sci.user_id -%>
                    <%= hidden_field_tag :pricing_plan_name, sci.pricing_plan_name -%>
                    <%= hidden_field_tag :pricing_plan_price, sci.pricing_plan_price -%>
                    <%= button_tag fa_icon('bolt', text: t('translations.activate')), class: 'btn btn-danger', name: :PAYMENT_METHOD -%>
                <%- end -%>
            <%- end -%>

        <%- end -%>

      </div>
    </div>
    <!-- ./pricing-widget -->
  </div>
  <!-- .col -->
</div>