<%- if PerfectMoneyMerchant::Account.count > 0 -%>
    <%- unless @current_user.vcc_permission.package.blank? -%>
        <div class="row">
          <div class="col-md-6">
            <%= ah_ibox do -%>
                <%= ah_ibox_content do -%>
                    <h2>Мои оплаченные пакеты</h2>

                    <h3>Сборщик контактов Вконтакте</h3>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Название пакета</th>
                        <th>Осталось до конца</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><%= fa_icon('vk',text: @current_user.vcc_permission.package.to_s.camelcase) %></td>
                        <td><%= fa_icon('clock-o',text: @current_user.vcc_permission.decorate.expires_in_words) %></td>
                      </tr>
                      </tbody>
                    </table>
                <%- end -%>
            <%- end -%>
          </div>
        </div>
    <%- end -%>
    <%- if @pricing_plan_sci.size.zero? -%>
        <h2>У вас сейчас оплачен максимальный пакет</h2>
    <%- end -%>
    <div class="row">
      <%- @pricing_plan_sci.each do |name, sci| -%>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="pricing-widget white-bg colorful-widget">
              <div class="pricing-icon">
                <div class="pricing-icon-inner">
                  <i class="fa fa-vk"></i>
                </div>
              </div>

              <div class="text-center">
                <h4>Сборщик контактов Вконтакте</h4>

                <h2 class="text-navy"><%= name.to_s.camelcase %></h2>

                <h2 class="pricing-value">
                  <%= "$#{sci.payment_amount}" %>/
                  <small><%= "#{UserVkContactsCollectorPermission.get_package_by(:name, name)[:duration_in_days]} дней" %></small>
                </h2>
              </div>

              <ul class="pricing-service">
                <%- t("translations.pricing_plan.#{name}").each_line do |_feature| -%>
                    <li><%= raw(_feature) -%></li>
                <%- end -%>
              </ul>

              <div class="m-top-md text-center">
                <%= render partial: 'static_pages/pricing_plans/perfect_money_form', locals: { sci: sci } %>
              </div>
            </div>
            <!-- ./pricing-widget -->
          </div>
      <%- end -%>
      <!-- .col -->
    </div>
<%- else -%>
    <div class="text-center">
      <h2>Технические проблемы.</h2>

      <h3>Мы уже отправили нашего лучшего специалиста решить их.</h3>
    </div>
<%- end -%>