<% if @current_user.decorate.profile_fields_filled? %>
    <%= ah_ibox(data: { controller: 'VkContactsCollectorController' }) do -%>
        <%= ah_ibox_content do -%>
            <%- unless @current_user.inviter.nil? -%>
                <h2>Пригласитель</h2>

                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td><%= UserProfile.human_attribute_name(:first_name) %></td>
                    <td><%= @current_user.inviter.user_profile.first_name %></td>
                  </tr>
                  <tr>
                    <td><%= UserProfile.human_attribute_name(:last_name) %></td>
                    <td><%= @current_user.inviter.user_profile.last_name %></td>
                  </tr>
                  <tr>
                    <td><%= UserProfile.human_attribute_name(:about) %></td>
                    <td><%= @current_user.inviter.user_profile.about %></td>
                  </tr>
                  <tr>
                    <td><%= UserProfile.human_attribute_name(:country) %></td>
                    <td><%= @current_user.inviter.user_profile.country %></td>
                  </tr>
                  <tr>
                    <td><%= UserProfile.human_attribute_name(:city) %></td>
                    <td><%= @current_user.inviter.user_profile.city %></td>
                  </tr>
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:skype) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.skype %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:contact_phone) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.contact_phone %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:contact_email) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.contact_email %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:vk_url) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.vk_url %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:facebook_url) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.facebook_url %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:odnoklassniki_url) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.odnoklassniki_url %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:google_plus_url) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.google_plus_url %></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--<td><%= UserProfile.human_attribute_name(:youtube_chanel_url) %></td>-->
                  <!--<td><%= @current_user.inviter.user_profile.youtube_chanel_url %></td>-->
                  <!--</tr>-->
                  </tbody>
                </table>

                <%= render partial: 'shared/user_social_networks', locals: { user: @current_user.inviter } %>

            <%- end -%>
            <h2>Статистика</h2>
            <table class="table table-white table-striped">
              <tbody>
              <tr>
                <td>Реферальные от 1 уровня</td>
                <td><%= fa_icon('dollar', text: @current_user.referral_award_level_1) %></td>
              </tr>
              <tr>
                <td>Реферальные от 2 уровня</td>
                <td><%= fa_icon('dollar', text: @current_user.referral_award_level_2) %></td>
              </tr>
              <tr>
                <td>Заработано</td>
                <td><%= fa_icon('dollar', text: @current_user.referral_earned) %></td>
              </tr>
              <tr>
                <td>Выплачено</td>
                <td><%= fa_icon('dollar', text: @current_user.referral_paid_out) %></td>
              </tr>
              <%- if @current_user.decorate.referral_balance > 0 -%>
                  <tr>
                    <td><%= link_to fa_icon('level-up', text: "Выплатить на #{@current_user.user_profile.pm_usd_acct}"), pay_out_work_user_url, method: :post, class: 'text-danger' %></td>
                    <td class="text-danger"><%= fa_icon('dollar', text: @current_user.decorate.referral_balance) %></td>
                  </tr>
              <%- end -%>
              </tbody>
            </table>

            <%- if @current_user.referral_award == 0 -%>
                <div class="m-b">
                  <small class="text-danger">Чтобы стать учасником <b>партнерской программы</b>, вам необходимо
                    пригласить больше 5 человек и написать в администрацию, что вы желаете учавствовать в партнерской
                    программе
                  </small>
                </div>
            <%- end -%>

            <div class="m-b">
              <small class="text-muted">
                Выплаты инстант. <br/>
                Убедитесь, что вы верно его указали в <%= link_to 'настройках профиля', edit_work_user_profile_url %>
                <br/>
                Реф. ссылка: <%= root_url(ref: @current_user.user_profile.username) %>
                <br/>
                <%= render 'shared/talk_to_admin', text: 'Пообщаться с администрацией' %>
              </small>
            </div>

            <h2>Рефералы</h2>
            <%= render 'static_pages/referrals/table', referrals: @current_user.referrals.order('created_at DESC') %>
        <%- end -%>
    <%- end -%>
<%- else -%>
    <div class="text-center">
      <h2>Вы не можете видеть своих реферралов, пока не заполните свой профиль</h2>

      <h3><%= t('translations.go_to') -%> <%= link_to t('translations.profile'), edit_work_user_profile_url %></h3>
    </div>
<%- end -%>