<% if @current_user.decorate.profile_fields_filled? %>
    <div class="row">
      <div class="col-lg-12">
        <%- if @current_user_d.pricing_plan_purchased?(:vk_contacts_collector) -%>
            <%- if can? :create, UserVkContactsRecord -%>
                <%= render 'static_pages/vkontakte_contacts_collector/vk_contacts_collector' %>
            <%- else -%>
                <% if @current_user.vcc_permission.can_create? %>
                    <%- if @current_user_d.vk_contacts_request_left.zero? -%>
                        <%= render 'static_pages/vkontakte_contacts_collector/out_of_limit' %>
                        <hr/>
                    <%- end -%>
                <%- else -%>
                    <div class="text-center">
                      <div>
                        <%= fa_icon('exclamation-triangle 4x') -%>
                      </div>
                      <h2><%= raw(t('translations.user_vk_contacts_file.no_permission.create')) -%></h2>
                    </div>
                    <hr/>
                <%- end -%>
            <%- end -%>
            <%- if can? :read, UserVkContactsRecord -%>
            <%- else -%>
                <div class="text-center">
                  <div>
                    <%= fa_icon('exclamation-triangle 4x') -%>
                  </div>
                  <h2><%= raw(t('translations.user_vk_contacts_file.no_permission.read')) -%></h2>
                </div>
            <%- end -%>
        <%- else -%>
            <div class="text-center">
              <div>
                <%= fa_icon('exclamation-triangle 4x') -%>
              </div>
              <h2><%= t('translations.user_vk_contacts_file.no_permission.not_paid') -%></h2>

              <h3>
                <%= t('translations.go_to') -%>
                <%= link_to t('translations.pricing_n_plans'), work_pricing_plans_url %>
              </h3>
            </div>
        <%- end -%>
      </div>
    </div>
<%- else -%>
    <div class="text-center">
      <div>
        <%= fa_icon('exclamation-triangle 4x') -%>
      </div>

      <h2>Вы не можете использовать ВК сборщик контактов. <br/> Заполните свой профиль</h2>

      <h3><%= t('translations.go_to') -%> <%= link_to t('translations.profile'), edit_work_user_profile_url %></h3>
    </div>
<%- end -%>