<div class="row">
  <div class="col-lg-8">
    <%- if can? :create, UserVkContactsFile -%>
        <%= ah_ibox(data: { controller: 'VkContactsCollectorController' }) do -%>
            <%= ah_ibox_title(t('translations.vk_contacts_collector')) -%>
            <%= ah_ibox_heading do -%>
                <blockquote>
                  <h3>How to use</h3>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda ea eius, excepturi facilis
                  impedit
                  tempora! Commodi deserunt eligendi enim error facere fuga molestias, nisi ullam. Eius maxime porro ut.
                </blockquote>
            <%- end -%>
            <%= ah_ibox_content do -%>
                <%- if cookies[:vk_access_token] -%>
                    <div class="text-right">
                      <%= link_to t('translations.logout'), vk_o_auth_logout_path, class: 'btn btn-danger' -%>
                    </div>
                <%- else -%>
                    <h3 class="text-center">In order to use contacts collector service, please sign in</h3>
                    <%= link_to t('translations.sign_in'), @vk_oauth_url, class: 'btn btn-white btn-lg btn-block' -%>

                    <!--<h3>Вам необходимо авторизоваться в Вконтакте </h3>-->
                <%- end -%>
                <%- if cookies[:vk_access_token] -%>

                    <vkontakte-collector-processors></vkontakte-collector-processors>

                    <div class="vk-contacts-collector-parent-box" data-ng-controller="vkContactsCollectorParentBoxController">
                      <h3>Contacts sources</h3>
                      <%= nav do %>
                          <%= link_to t('translations.my_friends'), '#vk-collector-w-friends-tab', data: { toggle: 'tab' } %>
                          <%= link_to t('translations.my_communities'), '#vk-collector-w-communities-tab', data: { toggle: 'tab' } %>
                          <%= link_to t('translations.search_people'), '#vk-collector-w-search-people-tab', data: { toggle: 'tab' } %>
                          <%= link_to t('translations.search_communities'), '#vk-collector-w-search-communities-tab', data: { toggle: 'tab' } %>
                      <% end %>

                      <div class="panel-body">
                        <div class="tab-content">
                          <div class="tab-pane fade active in" id="vk-collector-w-friends-tab">
                            <table class="table table-striped vk-contacts-collector-friends-table">
                              <thead>
                              <tr>
                                <th><%= t('translations.first_name') -%></th>
                                <th><%= t('translations.last_name') -%></th>
                                <th class="text-right"><%= t('translations.actions') -%></th>
                              </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="vk-collector-w-communities-tab">
                            <table class="table table-striped vk-contacts-collector-communities-table">
                              <thead>
                              <tr>
                                <th>ID</th>
                                <th><%= t('translations.name') -%></th>
                                <th><%= t('translations.members_quantity') -%></th>
                                <th class="text-right"><%= t('translations.actions') -%></th>
                              </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="vk-collector-w-search-people-tab">
                            <input type="text" class="form-control mb20" data-ng-model="searchUsersQuery" placeholder="Введите имя и фамилию пользователя"/>
                            <table class="table table-striped vk-contacts-collector-search-users-table" data-query-string="searchUsersQuery">
                              <thead>
                              <tr>
                                <th></th>
                                <th><%= t('translations.first_name') -%></th>
                                <th><%= t('translations.last_name') -%></th>
                                <th class="text-right"><%= t('translations.actions') -%></th>
                              </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="vk-collector-w-search-communities-tab">
                            <input type="text" class="form-control mb20" data-ng-model="searchCommunitiesQuery" placeholder="Введите название сообщества"/>
                            <table class="table table-striped vk-contacts-collector-search-communities-table" data-query-string="searchCommunitiesQuery">
                              <thead>
                              <tr>
                                <th>ID</th>
                                <th><%= t('translations.name') -%></th>
                                <th><%= t('translations.members_quantity') -%></th>
                                <th class="text-right"><%= t('translations.actions') -%></th>
                              </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                <%- end -%>
            <%- end -%>
        <%- end -%>
    <%- else -%>
        <div class="text-center">
          <div>
            <%= fa_icon('exclamation-triangle 4x') -%>
          </div>
          <h2><%= t('translations.user_vk_contacts_file.no_permission.create') -%></h2>

          <h3>
            <%= t('translations.go_to') -%>
            <a href=""><%= t('translations.pricing_n_plans') -%></a>
          </h3>
        </div>
    <%- end -%>
  </div>
  <div class="col-lg-4">
    <%= ah_ibox(data: { controller: 'VkContactsCollectorController' }) do -%>
        <%= ah_ibox_title(t('translations.last_n_files', number: 10)) -%>
        <%= ah_ibox_heading do -%>
            <blockquote>
              <h3>How to use</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </blockquote>
        <%- end -%>
        <%= ah_ibox_content do -%>
            <div class="text-right">
              <%= link_to url_for(params), class: 'btn btn-white' do -%>
                  <%= fa_icon('refresh') -%>
                  <!--<%= t('translations.refresh') -%>-->
              <%- end -%>
              <%= link_to user_vk_contacts_files_path(scope: :archived), class: 'btn btn-white' do -%>
                  <%= fa_icon('archive') -%>
                  <!--<%= t('translations.archived') -%>-->
              <%- end -%>
              <%= link_to user_vk_contacts_files_path, class: 'btn btn-white' do -%>
                  <%= fa_icon('eye') -%>
                  <!--<%= t('translations.see_all') -%>-->
              <%- end -%>
            </div>
            <div class="table-responsive">
              <%= render partial: 'user_vk_contacts_files/vk_c_f_table', locals: { user_vk_contacts_files: @user_vk_contacts_files } -%>
            </div>
        <%- end -%>
    <%- end -%>
  </div>
</div>