<%= ah_ibox do -%>
    <%= ah_ibox_heading do -%>
        <%= render partial: 'static_pages/pmvf/heading' -%>
        <div class="m-t">
          <%= link_to t('translations.learn_more'), work_pmvf_path, class: 'btn btn-primary' -%>
        </div>
    <%- end -%>
    <%= ah_ibox_content do -%>
        <%= render partial: 'static_pages/pmvf/features' -%>
    <%- end -%>
<%- end -%>