<%= ah_ibox do -%>
    <%= ah_ibox_heading do -%>
        <div>
          <h3> The New Friends </h3>

          <h4>Ваш незаменимый помощник</h4>

          <p>
            Программа “The New Friends" без больших денежных затрат поможет Вам создать постоянный поток новых
            Партнеров, Клиентов и Потребителей в ваш собственный бизнес.
          </p>

          <p>
            Программа “The New Friends" станет для Вас незаменимым помощником для установления новых связей в
            социальных сетях, таких как Вонтакте, Facebook, Twitter и т.д.. Ведь друзья в социальных сетях, а их может
            быть очень много, являются вашими потенциальными партнерами.
          </p>
        </div>
        <div>
          <h3>Планы</h3>
          <ul>
            <li>Внутренний сервис <b>массовой рассылки сообщений ВК</b> с автозаполнение всплывающее капчи.</li>
            <li>Внутренний сервис <b>автоматического обмена лайками ВК</b>.</li>
            <li>Внутренний сервис <b>массового фолловинга ВК</b>.</li>
          </ul>
        </div>
        <div>
          <h3>Новости
            <small>
              <a href="https://vk.com/thenewfriendsnet" target="_blank" class="btn btn-primary btn-outline"><%= fa_icon('external-link') %></a>
            </small>
          </h3>

        </div>
        <div>
          <h3>
            Мы в сети:
            <%= link_to fa_icon('vk'), 'https://vk.com/thenewfriendsnet', class: 'btn btn-primary btn-outline', target: '_blank' -%>
          </h3>
        </div>
        <div>
          <h3>Как работает программа "New Friends"?</h3>

          <h4>
            <a href="https://www.youtube.com/watch?v=OZiBSpfHC_g" target="_blank"><%= fa_icon('external-link') %>
              Открыть видеоролик-демонстрацию
            </a>
          </h4>

          <p>Программа дает Вам возможность автоматически собирать в социальных сетях следующие данные:</p>

          <ul>
            <li>Вконтакте
              <small class="text-muted">(Facebook в разработке)</small>
              <ul>
                <li>ФИО</li>
                <li>Skype</li>
                <li>Телефон</li>
                <li>Instagram аккаунт</li>
                <li>Twitter аккаунт</li>
              </ul>
            </li>
          </ul>

          <p>С полученной информацией программа дает возможность совершать следующие действия:</p>

          <ul class="list">
            <li class="text-muted">
              Вконтакте, Facebook
              <small class="text-muted">(в разработке)</small>
              <ul>
                <li>Отправлять запрос на добавление в друзья</li>
                <li>Рассылка сообщений</li>
              </ul>
            </li>
            <li>
              Skype
              <ul>
                <li>Импорт контактов из <b>VCF</b> файла</li>
                <li>Рассылка сообщений
                  <small class="text-muted">(Clownfish: отдельная десктопная прогамма под Windows\Linux\Mac)</small>
                </li>
              </ul>
            </li>
          </ul>

          <p>
            Как Вы видите, Программа “The New Friends" является мощным ресурсом для работы в социальных сетях. Вы
            получите возможность быстро и эффективно привлекать новых партнеров в Ваш бизнес, которая станет Вашим
            незаменимым Помощником!
          </p>
        </div>
        <div>
          <h3>Реферальная система</h3>

          <p>TNF работает с платежной системой PerfectMoney. Выплаты реферальных производятся инстантом.</p>

          <p>У сборщика контактов Вконтакте есть 5 разных пакета, которые отличаются длительностью действия и количество
            доступных запросов на скачивание контактов в день</p>

          <p>Изначально вы получаете реферальные в <b>15% с первой линии и 0% со второй</b></p>

          <p>Чтобы получить реферальные в <b>30% с первой линии и 20% со второй</b> вам необходимо:</p>
          <ul>
            <li>оплатить пакет <b class="text-navy">Skilled120 или выше</b>;</li>
            <li><b>10 ваших лично-приглашенных человек</b>, должны оплатить пакет
              <b class="text-navy">Skilled120 или выше</b></li>
          </ul>

          <p>Чтобы получить реферальные в <b>45% с первой линии и 30% со второй</b> вам необходимо:</p>
          <ul>
            <li>оплатить пакет <b class="text-navy">Seasoned240 или выше</b>;</li>
            <li><b>5 ваших лично-приглашенных человек</b>, должны оплатить пакет
              <b class="text-navy">Seasoned240 или выше</b></li>
          </ul>
        </div>
    <%- end -%>
<%- end -%>