<%= ah_ibox do -%>
    <%= ah_ibox_heading do -%>
        <h3>
          The New Friends
          <small class="text-danger">Версия: <%= @version %></small>
        </h3>
        <% if @version =~ /alpha|beta/ %>
            <small class="text-danger">
              <%= @version %>
              - программа работает и находиться в стадии тестирования. Стабильная версия будет скоро выпущена.
              <%= render 'shared/talk_to_admin', text: 'Cвязаться с тех. поддержкой' %> если
              <ul>
                <li>Не скачиваються контакты вообще, а не повторно.</li>
                <li>Была произведена оплата, а ничего не произошло</li>
              </ul>
              <!--— While the program is working, it is still being tested and the stable version has not yet been released.-->
            </small>
        <%- end -%>
        <h4>Ваш незаменимый помощник</h4>

        <p>
          Программа “The New Friends" без больших денежных затрат поможет Вам создать постоянный поток новых
          Партнеров, Клиентов и Потребителей в ваш собственный бизнес.
        </p>

        <p>
          Программа “The New Friends" станет для Вас незаменимым помощником для установления новых связей в
          социальных сетях, таких как Вонтакте, Facebook, Twitter и т.д.. Ведь друзья в социальных сетях, а их может
          быть очень много, являются вашими потенциальными партнерами.
        </p>
        <div>
          <h3>Планы</h3>
          <ul>
            <li>Внутренний сервис <b>массовой рассылки сообщений ВК</b> с автозаполнение всплывающее капчи.</li>
            <li>Внутренний сервис <b>автоматического обмена лайками ВК</b>.</li>
            <li>Внутренний сервис <b>массового фолловинга ВК</b>.</li>
          </ul>
        </div>
        <div>
          <h3>Мы в сети</h3>
          <%= link_to fa_icon('vk 2x'), 'https://vk.com/thenewfriendsnet', class: 'btn btn-info btn-outline btn-lg', target: '_blank' -%>
        </div>
    <%- end -%>
    <%= ah_ibox_content do -%>
        <h3>Как работает программа "New Friends"?</h3>

        <p>Программа дает Вам возможность автоматически собирать в социальных сетях следующие данные:</p>

        <ul>
          <li>Вконтакте, Facebook
            <small class="text-muted">(Facebook в разработке)</small>
            <ul>
              <li>ФИО</li>
              <li>Skype</li>
              <li>Телефон</li>
              <li>Instagram аккаунт</li>
              <li>Twitter аккаунт</li>
            </ul>
          </li>
        </ul>

        <p>С полученной информацией программа дает возможность совершать следующие действия:</p>

        <ul class="list">
          <li>
            Вконтакте, Facebook
            <small class="text-muted">(в разработке)</small>
            <ul>
              <li>Отправлять запрос на добавление в друзья</li>
              <li>Рассылка сообщений</li>
            </ul>
          </li>
          <li>
            Skype
            <ul>
              <li>Импорт контактов из <b>VCF</b> файла</li>
              <li>Рассылка сообщений <small class="text-muted">(Clownfish: отдельная десктопная прогамма под Windows\Linux\Mac)</small></li>
            </ul>
          </li>
        </ul>

        <p>
          Как Вы видите, Программа “The New Friends" является мощным ресурсом для работы в социальных сетях. Вы
          получите возможность быстро и эффективно привлекать новых партнеров в Ваш бизнес, которая станет Вашим
          незаменимым Помощником!
        </p>
    <%- end -%>
<%- end -%>