<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          The New Friends / PMVF
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#page-top">Главная</a></li>
          <li><a class="page-scroll" href="#the-new-friends">The New Friends</a></li>
          <li><a class="page-scroll" href="#pmvf">Меркурий Взаимный Фонд</a></li>
          <li><a class="page-scroll" href="#contact">Контакты</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Хотите<br/>
            иметь постоянный<br/>
            прилив новых партнеров<br/>
            в Ваш бизнес?</h1>

          <p>Ищите целевую аудиторию в группах ВК <br/> и загружайте их контакты себе на диск.</p>

          <p>
            <%= link_to 'Войти в кабинет', user_session_url(subdomain: 'work'), class: 'btn btn-lg btn-primary' -%>
          </p>
        </div>
        <div class="carousel-image wow zoomIn">
          <%= image_tag('tnf_landing_page/laptop.png', class: 'img-responsive', alt: 'laptop') -%>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h1>TNF рекомендует обратить <br/> внимание на проект <br/> "Меркурий Взаимный Фонд".</h1>

          <p> На сегодняшний день гарантировать какой либо доход в интернете достаточно сложно. <br/> Но есть все таки
            то, где не кривя душой можно сказать <br/> " Это то самое! Мы гарантируем, что через год скажите
            <span class="text-danger">TheNewFriends</span> спасибо"</p>

          <p><a class="btn btn-lg btn-primary page-scroll" href="#contact" role="button">Узнать больше</a></p>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section class="container features" id="the-new-friends">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>The New Friends<br/> <span class="navy"> Ваш надежный бизнес помощник</span></h1>

      <p>Однажды начав им пользоваться вы больше не будете нуждаться в постоянном поиске партнеров в Ваш бизнес</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-money fa-2x features-icon"></i>

        <h2>Экономия</h2>

        <p>Без больших денежных затрат TNF поможет Вам создать постоянный поток новых Партнеров, Клиентов и Потребителей в
          ваш собственный бизнес.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bolt fa-2x features-icon"></i>

        <h2>Результат</h2>

        <p>Всего лишь за 7 дней Вы сможете пожинать плоды, другими словами создать напрерывный поток партнеров.</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <%= image_tag('tnf_landing_page/tnf_browser.jpg', class: 'img-responsive', alt: 'dashboard') -%>
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-vk fa-2x features-icon"></i>

        <h2>Соц. Сети.</h2>

        <p>На данный момент TNF работает с Вконтакте. Facebook и Twitter в разработке.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-cogs fa-2x features-icon"></i>

        <h2>Функции</h2>

        <p>
          - Просмотр контактов ваших друзей и участников сообществ. <br/>
          - Рассылка сообщений в Skype. (отдельная программа) <br/>
          - Рассылка сообщений Вконтакте (в разработке) <br/>
        </p>
      </div>
    </div>
  </div>
  <div class="row m-t">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Войти в The New Friends', work_root_url, class: 'btn btn-primary btn-block btn-lg' -%>
    </div>
  </div>
</section>

<section id="testimonials" class="navy-section testimonials">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <i class="fa fa-comment fa-2x big-icon"></i>

        <h1>
          Что наши пользователи говорят о TNF
        </h1>

        <div class="testimonials-text">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
        <small>
          <strong></strong>
        </small>
      </div>
    </div>
  </div>

</section>

<section class="features" id="pmvf">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="navy-line"></div>
        <h1>Проект <br/> <span class="navy">"Меркурий Взаимный Фонд"</span></h1>

        <h2>Доверие и Достаток</h2>

        <p>
          Взаимный фонд «Меркурий» не предназначен для быстрого и бездумного набивания карманов за счет других
          участников!
          Поэтому, если Вашей целью является нажива, огромная просьба ознакомиться с программой TheNewFriends и
          развивать свой бизнес.
        </p>

        <p>
          Если же Вами движет желание разобраться в принципах работы фонда и открыть для себя новые возможности,
          тогда Добро пожаловать в команду!
        </p>

        <p>
          Меркурий - сообщество людей для людей. Именно поэтому, став участником - у вас появляется уникальная
          возможность делая взносы в фонд и получать за это еженедельную премию в качестве вознаграждения, начиная от
          4.8% и заканчивая 6% от суммы вашего взноса в течение целого года. Тем самым сообщество благодарит вас за
          доверие и за то, что став частью нашей общины - вы стали неотъемлемой её частью и начали совместное движение в
          создании сообщества, внутри которого каждый индивид будет жить в достатке и процветании.
        </p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-6 col-lg-offset-3 text-right m-t-n-lg wow zoomIn">
        <%= image_tag('tnf_landing_page/pmvf_browser.jpg', class: 'img-responsive', alt: 'dashboard') -%>
      </div>

    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Особенности проекта "Меркурий Взаимный Фонд"</h1>

        <p>Доверие и Достаток</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <small>Меркурий Взаимный Фонд</small>
        <h2>Хранители</h2>

        <p>
          Хранитель - это структурная единица проекта, живой человек, который однажды просто сделал взнос и стал членом
          сообщества, а потом заслужил доверие руководства "Меркурия" и стал хранить деньги.
        </p>

        <p>
          Другими словами, деньги не
          хранятся в одном месте у одного человека.
        </p>

        <p>
          В сообществе уже более 2000 хранителей, которые хранят деньги у себя в банковских счетах и выплачивают часть
          денег по вторникам своей ячейке членов сообщества. (например: ПриватБанк в Украине).
        </p>
      </div>
      <div class="col-lg-5 features-text">
        <small>Меркурий Взаимный Фонд</small>
        <h2>Цели (Проекты)</h2>

        <p>Авто в лизинг, Краудфандинг, Европейский счет, Коллективная помощь, Целевые инвестиции, Персональная защита,
          Социальные проекты</p>

        <h2>Возраст</h2>

        <p>
          2 года стабильности. Вклады с доходностью 140%-200% в год. Уженедельные выплаты на банковскую карту любого
          банка мира. Детали внутри кабинета The New Friends.
        </p>
      </div>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to 'Узнать больше', work_root_url, class: 'btn btn-primary btn-lg btn-block' -%>
    </div>
  </div>

</section>

<section id="testimonials-pmvf" class="navy-section testimonials">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <i class="fa fa-comment big-icon"></i>

        <h1>
          Что наши пользователи говорят о <br/> проекте "Меркурий Взаимный Фонд"
        </h1>

        <div class="testimonials-text">
          <i>"
            Удивительно, но большинство людей ищет противположность тому, чего они хотят!
            Если Вы хотите стать частью чего то Настоящего, Стабильного, по настоящему Ценного!
            Тогда присоединяйтесь к нам - Меркурий взаимный фонд!
            И через пол года Вы совершенно перестанете думать о деньгах и начнете развивать себя Настоящего!"</i>
        </div>
        <small>
          <strong>Андрей Певцов</strong>
        </small>
      </div>
    </div>
  </div>

</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Контакты</h1>

        <p>Email, Вконтакте, Facebook, Twitter</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:thenewfriendsnet@gmail.com" class="btn btn-primary">Напишите нам</a>

        <p class="m-t-sm">
          Следите за нами в социальных сетях
        </p>
        <ul class="list-inline social-icon">
          <li><a target="_blank" href="https://twitter.com/thenewfriendnet"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a target="_blank" href="https://www.facebook.com/thenewfriendsnet"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a target="_blank" href="http://vk.com/thenewfriendsnet"><i class="fa fa-vk"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2015 The New Friends</strong><br/></p>
      </div>
    </div>
  </div>
</section>