<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          The New Friends
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#page-top">Главная</a></li>
          <li><a class="page-scroll" href="#the-new-friends">The New Friends</a></li>
          <li><a class="page-scroll" href="#contact">Контакты</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Хотите<br/>
            иметь постоянный<br/>
            прилив новых партнеров<br/>
            в Ваш бизнес?</h1>

          <p>Ищите целевую аудиторию в группах ВК <br/> и загружайте их контакты себе на диск.</p>

          <p>
            <%= link_to 'Войти в кабинет', user_session_url(subdomain: 'work'), class: 'btn btn-lg btn-primary' -%>
          </p>
        </div>
        <div class="carousel-image wow zoomIn">
          <%= image_tag('tnf_landing_page/laptop.png', class: 'img-responsive', alt: 'laptop') -%>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <!--<div class="item">-->
    <!--<div class="container">-->
    <!--<div class="carousel-caption blank">-->
    <!--<h1>TNF рекомендует обратить <br/> внимание на проект <br/> "Меркурий Взаимный Фонд".</h1>-->

    <!--<p> На сегодняшний день гарантировать какой либо доход в интернете достаточно сложно. <br/> Но есть все таки-->
    <!--то, где не кривя душой можно сказать <br/> " Это то самое! Мы гарантируем, что через год скажите-->
    <!--<span class="text-danger">TheNewFriends</span> спасибо"</p>-->

    <!--<p><a class="btn btn-lg btn-primary page-scroll" href="#contact" role="button">Узнать больше</a></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Set background for slide in css &ndash;&gt;-->
    <!--<div class="header-back two"></div>-->
    <!--</div>-->
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section class="container features" id="the-new-friends">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>The New Friends<br/> <span class="navy"> Ваш надежный бизнес помощник</span> <br/>
        <small><span class="text-muted">Реферальные 2 уровня: 45% и 30%</span></small>
      </h1>

      <p>Однажды начав им пользоваться вы больше не будете нуждаться в постоянном поиске партнеров в Ваш бизнес</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-money fa-2x features-icon"></i>

        <h2>Экономия</h2>

        <p>Без больших денежных затрат TNF поможет Вам создать постоянный поток новых Партнеров, Клиентов и Потребителей
          в
          ваш собственный бизнес.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bolt fa-2x features-icon"></i>

        <h2>Результат</h2>

        <p>Всего лишь за 7 дней Вы сможете пожинать плоды, другими словами создать напрерывный поток партнеров.</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <%= image_tag('tnf_landing_page/tnf_browser.jpg', class: 'img-responsive', alt: 'dashboard') -%>
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-vk fa-2x features-icon"></i>

        <h2>Соц. Сети.</h2>

        <p>На данный момент TNF работает с Вконтакте. Facebook и Twitter в разработке.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-cogs fa-2x features-icon"></i>

        <h2>Функции</h2>

        <p>
          - Просмотр контактов ваших друзей и участников сообществ. <br/>
          - Рассылка сообщений в Skype. (отдельная программа) <br/>
          - Рассылка сообщений Вконтакте (в разработке) <br/>
        </p>
      </div>
    </div>
  </div>
  <div class="row m-t">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Открыть демонстрацию', 'https://www.youtube.com/watch?v=OZiBSpfHC_g', class: 'btn btn-primary btn-block btn-lg', target: '_blank' -%>
    </div>
  </div>
</section>

<section id="testimonials" class="navy-section testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <i class="fa fa-comment fa-2x big-icon"></i>

        <h1>
          Что наши пользователи говорят о TNF
        </h1>

        <div class="testimonials-text">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
        <small>
          <strong></strong>
        </small>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Контакты</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= link_to 'Напишите TNF', "mailto:thenewfriendsnet@gmail.com", class: 'btn btn-primary m-b-sm' %>

        <h3>TNF в социальных сетях</h3>
        <ul class="list-inline social-icon">
          <li><a target="_blank" href="https://twitter.com/thenewfriendnet"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/thenewfriendsnet"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a target="_blank" href="http://vk.com/thenewfriendsnet"><i class="fa fa-vk fa-2x"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://plus.google.com/104883124468062219775/about"><i class="fa fa-google-plus fa-2x"></i></a>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2015 The New Friends</strong><br/></p>
      </div>
    </div>
  </div>
</section>