<%- if user.decorate.has_at_least_1_social_network_link? -%>
    <h3>Ваш пригласитель:</h3>
    <p>Привет, меня зовут <b><%= user.decorate.full_name %></b>.</p>
    <p>За время участия в фонде Меркурий, ко мне пришла одна мысли, что у людей совсем утеряно доверие к окружению. Все
      думают, что <b>людям главное впихнуть свой товар и "наварится" на этом</b>, они думают, что <b>если куда-то вкладывать
      деньги, то его в итоге обманут</b> и проект/компания/фонд пропадёт с его вкладом. Сетевой бизнес для них это только
      "заманиловка" людей с целью собственной наживы.</p>
    <p>А если посмотреть с другой стороны.. Возможно тебе написали, что бы предложить тебе начать получать достаточно? А
      вдруг тебе написали, что бы развивать бизнес именно с тобой? В январе этого года ежедневная аудитория сайта
      «ВКонтакте» составляет примерно 70.000 человек, но из всей данной аудитории выбрали ИМЕННО ТЕБЯ. Случай всегда
      имеет силу. Держите крючок наготове. В том пруду, где Вы меньше всего этого ожидаете, водится рыба. Каждый день
      нужно прожить так, что бы он был лучше чем вчера. Надо пробовать что-то новое, надо развивать себя в различных
      сферах и заниматься тем делом, которое тебе, и только тебе, будет нравиться.</p>
    <p class="underline">P.S. Если мы с Вами являемся единомышленниками, у Вас не пропало доверие к людям и Вы не мыслите шаблонно, то
      обращайтесь ко мне в соц. сетях или Skype, пообщаемся и возможно уже в этот же день начнём развиваться в одной команде.</p>
    <div>
      <h3>Я в сети:</h3>
      <%- unless user.user_profile.vk_url.blank? -%>
          <%= link_to fa_icon('vk 2x'), user.user_profile.vk_url, class: 'btn btn-info btn-outline btn-lg', target: '_blank' -%>
      <%- end -%>
      <%- unless user.user_profile.odnoklassniki_url.blank? -%>
          <%= link_to user.user_profile.odnoklassniki_url, class: 'btn btn-warning btn-outline btn-lg', target: '_blank' do -%>
              <span class="icon-odnoklassniki fa-2x"></span>
          <%- end -%>
      <%- end -%>
      <%- unless user.user_profile.facebook_url.blank? -%>
          <%= link_to fa_icon('facebook-square 2x'), user.user_profile.facebook_url, class: 'btn btn-info btn-outline btn-lg', target: '_blank' -%>
      <%- end -%>
      <%- unless user.user_profile.youtube_chanel_url.blank? -%>
          <%= link_to fa_icon('youtube 2x'), user.user_profile.youtube_chanel_url, class: 'btn btn-danger btn-outline btn-lg', target: '_blank' -%>
      <%- end -%>
      <%- unless user.user_profile.google_plus_url.blank? -%>
          <%= link_to fa_icon('google-plus 2x'), user.user_profile.google_plus_url, class: 'btn btn-info btn-outline btn-lg', target: '_blank' -%>
      <%- end -%>
      <%- unless user.user_profile.skype.blank? -%>
          <h3>
            <%= link_to fa_icon('skype', text: user.user_profile.skype), "skype:#{user.user_profile.skype}?chat" %>
          </h3>
      <%- end -%>

      <div class="m-b">
        <small class="text-muted">Акции, новости, уроки, вебинары</small>
      </div>
    </div>
<%- end -%>