<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
      <li class="hidden-xs">
        <%= link_to root_url do %>
            <%= fa_icon('external-link') %>
	        TheNewFriends
        <% end %>
      </li>
      <li>
        <%= link_to work_root_url do %>
            <%= fa_icon('dashboard') %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_work_user_profile_url do %>
            <%= fa_icon('user') %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_url, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-sign-out"></i>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
