<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; padding-right: 15px;">
    <ul class="nav navbar-top-links navbar-right">
      <li class="hidden-xs">
        <%= link_to root_url do %>
            <%= fa_icon('external-link') %>
            TheNewFriends
        <% end %>
      </li>
      <li>
        <%= link_to fa_icon('user'), edit_work_user_profile_url %>
      </li>
      <li>
        <%= link_to fa_icon('dollar'), work_referrals_url -%>
      </li>
      <li>
        <%= link_to fa_icon('sign-out'), destroy_user_session_url, method: :delete, data: { confirm: 'Вы точно хотите выйти?' } %>
      </li>
    </ul>
  </nav>
</div>
