<%= ah_ibox(data: { controller: 'VkContactsCollectorController' }) do -%>
    <%= ah_ibox_title(t('translations.last_n_files', number: 10)) -%>
    <%= ah_ibox_content do -%>
        <div class="text-right">
          <%= link_to url_for(params), class: 'btn btn-white' do -%>
              <%= fa_icon('refresh') -%>
              <!--<%= t('translations.refresh') -%>-->
          <%- end -%>
          <%= link_to work_user_vk_contacts_files_path, class: 'btn btn-white' do -%>
              <%= fa_icon('eye') -%>
              <!--<%= t('translations.see_all') -%>-->
          <%- end -%>
        </div>
        <div class="table-responsive">
          <%= render partial: 'user_vk_contacts_files/vk_c_f_table', locals: { user_vk_contacts_files: @user_vk_contacts_files } -%>
        </div>
    <%- end -%>
<%- end -%>