<div class="row">
  <%= simple_form_for @user, url: work_admin_user_path(@user), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| -%>
      <%= ah_ibox do %>
          <%= ah_ibox_title('User') %>
          <%= ah_ibox_content do %>

              <%= f.error_notification %>
              <%= f.input :email, required: true %>
              <%= f.input :is_admin %>
              <%= f.input :inviter_id %>
              <%= f.input :referral_earned %>
              <%= f.input :referral_paid_out, disabled: true %>
              <%= f.input :referral_award_level_1 %>
              <%= f.input :referral_award_level_2 %>

              <div class="row">
                <div class="col-sm-offset-3 col-sm-9">
                  <%= f.button :submit, class: 'btn-primary' %>
                </div>
              </div>
          <%- end -%>
      <% end %>
      <%= ah_ibox do %>
          <%= ah_ibox_title('Vk Contacts Collector Permissions') %>
          <%= ah_ibox_content do %>
              <%= f.simple_fields_for :user_vk_contacts_collector_permission, @user.user_vk_contacts_collector_permission do |user_vk_contacts_collector_permission| -%>
                  <%= user_vk_contacts_collector_permission.input :package, collection: %w(newbie_30 novice_60 skilled_120 seasoned_240 advanced_360) %>
                  <%= user_vk_contacts_collector_permission.input :expires_at, as: :date_time_picker %>
                  <%= user_vk_contacts_collector_permission.input :requests_limit_per_day %>
                  <%= user_vk_contacts_collector_permission.input :can_create %>
                  <%= user_vk_contacts_collector_permission.input :can_read %>
                  <%= user_vk_contacts_collector_permission.input :can_update %>
                  <%= user_vk_contacts_collector_permission.input :can_delete %>
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                      <%= user_vk_contacts_collector_permission.button :submit, class: 'btn-primary' %>
                    </div>
                  </div>
              <%- end -%>
          <%- end -%>
      <% end %>

      <%= ah_ibox do %>
          <%= ah_ibox_title('Profile') %>
          <%= ah_ibox_content do %>
              <%= f.simple_fields_for :user_profile, @user.user_profile do |user_profile| -%>
                  <%= user_profile.input :first_name %>
                  <%= user_profile.input :last_name %>
                  <%= user_profile.input :about %>
                  <%= user_profile.input :country %>
                  <%= user_profile.input :city %>
                  <%= user_profile.input :skype %>
                  <%= user_profile.input :contact_phone %>
                  <%= user_profile.input :contact_email %>
                  <%= user_profile.input :vkontakte_id %>
                  <%= user_profile.input :facebook_id %>
                  <%= user_profile.input :twitter_id %>
                  <%= user_profile.input :pm_usd_acct %>
                  <%= user_profile.input :username %>
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                      <%= user_profile.button :submit, class: 'btn-primary' %>
                    </div>
                  </div>
              <%- end -%>
          <%- end -%>
      <% end %>
  <% end %>
</div>
</div>