<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>The New Friends</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-2 mini-navbar boxed-layout" data-ng-app="tnf-ng-app">
<div id="wrapper">
  <%= render 'layouts/application/sidebar' %>
  <div class="gray-bg" id="page-wrapper">
    <%= render 'layouts/application/navbar' %>
    <div class="wrapper wrapper-content">
      <%- unless @current_user.decorate.profile_fields_filled? -%>
          <%= alert_box context: :danger do %>
              Заполните пожалуйста свой профиль.
              <%= link_to 'Перейти в профиль.', edit_work_user_profile_url %>
          <%- end -%>
      <%- end -%>
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
