<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The New Friends</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-2 boxed-layout" id="wrapper">
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="gray-bg p-lg m-t-lg">
      <!--<div class="m-t m-b">-->
      <!--<%= link_to 'English', url_for(params.merge(locale: :en)), class: 'btn btn-white btn-sm' -%>-->
      <!--<%= link_to 'Русский', url_for(params.merge(locale: :ru)), class: 'btn btn-white btn-sm' -%>-->
      <!--</div>-->
      <h1 class="text-center">TheNewFriends</h1>
      <%= yield %>
      <div class="m-t">
        <%= render "devise/shared/links" %>
      </div>
      <p class="m-t text-center">
        <small>The New Friends &copy; 2015</small>
      </p>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
