<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('translations.created') -%></th>
    <th><%= t('translations.name') -%></th>
    <th class="text-right"><%= t('translations.actions') -%></th>
  </tr>
  </thead>
  <tbody>
  <%- user_vk_contacts_files.each do |_u_vk_c_f| -%>
      <tr>
        <td>
          <%= distance_of_time_in_words_to_now(_u_vk_c_f.created_at) -%>
          <%= t('translations.ago') -%>
        </td>
        <td><%= _u_vk_c_f.vk_contacts_file.name -%></td>
        <td class="text-right">
          <%= link_to download_user_vk_contacts_file_path(_u_vk_c_f), class: 'btn btn-white btn-sm', target: '_blank' do -%>
              <%= fa_icon('download') -%>
              <!--<%= t('translations.download') -%>-->
          <%- end -%>
          <%- unless _u_vk_c_f.archived -%>
              <%= link_to user_vk_contacts_file_path(_u_vk_c_f, user_vk_contacts_file: { archived: true }), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-white btn-sm' do -%>
                  <%= fa_icon('archive') -%>
                  <!--<%= t('translations.to_archive') -%>-->
              <%- end -%>
          <%- end -%>
        </td>
      </tr>
  <%- end -%>
  </tbody>
</table>