<div class="row">
  <div class="col-lg-12">
    <%= ah_ibox(data: { controller: 'VkContactsCollectorController' }) do -%>
        <%= ah_ibox_title(t('translations.files')) -%>
        <%= ah_ibox_heading do -%>
            <blockquote>
              <h3>How to use</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </blockquote>
        <%- end -%>
        <%= ah_ibox_content do -%>
            <div class="text-right">
              <%= link_to t('translations.refresh'), url_for(params), class: 'btn btn-white' -%>
              <%= link_to t('translations.archived'), url_for(params.merge(scope: :archived)), class: 'btn btn-white' -%>
              <%= link_to t('translations.current_ones'), url_for(params.merge(scope: :current)), class: 'btn btn-white' -%>
            </div>
            <%= render partial: 'vk_c_f_table', locals: { user_vk_contacts_files: @user_vk_contacts_files } -%>
        <%- end -%>
    <%- end -%>
  </div>
</div>